@import "./../../../styles/utils.scss";

.rank-item {
  display: flex;
  align-items: center;
  height: 3rem;
  background: gray;

  padding-left: 1rem;
  padding-right: 1rem;

  cursor: pointer;

  .rankies {
    color: white;

    font-weight: 600;
    font-size: 1.25rem;
  }

  .delete {
    margin-left: auto;
    cursor: pointer;

    color: white;
    font-weight: 800;
    font-size: 2rem;

    user-select: none;
  }
  .return {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;

    color: white;
    font-weight: 800;
    font-size: 1.5rem;
  }

  input {
    height: 100%;
    width: 100%;

    outline: none;
    background: gray;
    border: 1px solid darkslategray;

    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }
}

.editing {
  background: gray;
}